body {
    border: outset;
    border-color: grey;
    border-width: 15px;
    padding: 5px 5px 5px 5px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(224, 210, 9);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(13, 133, 238);
}

.flex-container .cat {
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.flex-container .cat .cat1 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat2 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat3 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat4 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat5 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat6 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat7 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat8 {
    width: 400px;
    height: 250px;
}

.flex-container .cat .cat9 {
    width: 400px;
    height: 250px;
}